main {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 57%;
}

.homeImage {
  width: 100%;
  height: 70%;
  /* object-fit: cover; */
}

.r-side {
  width: 70%;
}

.l-side {
  width: 30%;
  height: 110%;
}

.textContainer {
  display: flex;
  gap: 10px;
  align-items: end;
  height: 37%;
}

.r-side-text {
  font-size: 36px;
  font-weight: bold;
  color: var(--neutral-very-dark-blue);
  line-height: 1;
}

.l-side-text {
  color: var(--dark-grayish-blue);
  padding-left: 80px;
  padding-right: 10px;
}

.readmore-btn {
  background-color: var(--primary-soft-red);
  color: var(--neutral-off-white);
  padding: 10px 20px;
  border: none;
  margin-top: 50px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 8px;
  width: 100%;
  height: 40px;
  max-width: 55%;
}

.readmore-btn:hover {
  background-color: var(--neutral-very-dark-blue);
  color: var(--neutral-off-white);
}

@media only screen and (max-width: 390px) {
  main {
    flex-direction: column;
    height: calc(100% - 70px);
    gap: 0px;
  }

  .textContainer {
    flex-direction: column;
  }

  .r-side,
  .l-side {
    width: 100%;
  }

  .l-side-text {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px;
  }

  .r-side-text {
    margin-top: 20px;
  }
}
