.showcase {
  padding: 1.25rem;
  padding-top: 0;
}

.showcase h1 {
  font-size: 2rem;
  color: var(--neutral-very-dark-blue);
  margin: 1rem 0;
  font-weight: 800;
}

.description_home {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.readmore_btn {
  background-color: var(--primary-soft-red);
  color: var(--neutral-off-white);
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
}

.readmore_btn:hover {
  background-color: var(--neutral-very-dark-blue);
  color: var(--neutral-off-white);
}

@media (min-width: 1024px) {
  .showcase {
    display: flex;
    gap: 2rem;
    flex: 30%;
  }

  .news_card {
    flex: 100%;
    height: 100%;
  }

  .showcase > div:first-child article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
    margin-top: 2rem;
  }

  .text_Container div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 89%;
  }

  .showcase h1 {
    font-size: 4rem;
    line-height: 93%;
  }

  .readmore_btn {
    max-width: 60%;
  }
}
