header {
  margin-bottom: 2rem;
  position: relative;
  padding: 0 2rem;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 40px;
}

.links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.links li {
  cursor: pointer;
}

.toggle_btn {
  display: none;
}

.menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0;
  width: 60%;
  background-color: var(--background-main-page);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: var(--neutral-very-dark-blue);

  padding: 2.5rem;
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .toggle_btn {
    display: block;
  }

  .links {
    display: none;
  }
}
