.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

.header nav {
  opacity: 0;
  z-index: -100;
  /* transition: all 0.3s ease-in-out; */
}

nav.open {
  position: fixed;
  opacity: 1;
  color: var(--neutral-very-dark-blue);
  background-color: var(--background-main-page);
  top: 0;
  right: 0;
  bottom: 0;
  width: 75vw;
  padding: 1.25rem;
  font-size: 1.5rem;
  z-index: 100;
}

.header .menu_buttom button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

#menu_close {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.header nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header nav ul li {
  margin: 1.5rem 0;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header {
    padding: 2rem 1.25rem;
  }

  .header nav {
    opacity: 1;
    z-index: auto;
  }

  .header nav.open {
    position: relative;
    width: auto;
    background-color: transparent;
    padding: 0;
    z-index: auto;
  }

  .header nav ul {
    position: relative;
    top: 0;
    transform: translateY(0%);
    display: flex;
    gap: 1.25rem;
  }

  .header nav ul li {
    margin: 0;
    font-size: 16px;
  }

  .header nav ul li:hover {
    color: var(--primary-soft-red);
  }

  .menu_buttom {
    display: none;
  }
}
