footer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  height: 10%;
}

.footerLink {
  color: var(--primary-soft-red);
  font-weight: bold;
}

.footerLink:hover {
  color: var(--neutral-very-dark-blue);
}

@media only screen and (max-width: 390px) {
  footer {
    text-align: center;
  }
}
