footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70px;
  text-align: center;
}

footer div a {
  color: var(--primary-soft-red);
  font-weight: bold;
}

footer div a:hover {
  color: var(--neutral-very-dark-blue);
}

@media (min-width: 1024px) {
  footer {
    font-size: 1rem;
  }
}
